.contact{
    height: 857px;
    width: 1424px;
    background-image: url("/menu/menu/contact.png");
    background-repeat: no-repeat;
    background-position: center;  
}

.bg-outer-contact{
    background-image: url("/menu/menu/bg-outer.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 857px;
    width: 1424px;
}
