.select-enemy-screen {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 62vw;
    background-color: #5c310c;
    z-index: 20;
  }
  
  .select-enemy-items{
   padding-top: 10%;
  }
  
  .select-enemy {
    color: #a7957b;
  }
  
  .middle-image{
    top: 20%;
    width: 200px;
  }

  .p1-character{
    top: 144px;
    left: 50px;
   }

  .p2-character{
    top: 144px;
    right: 50px;
  }
