.select-enemy-screen {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 62vw;
  background-color: #aa6039;
  z-index: 20;
}

.select-enemy-items {
  padding-top: 10%;
}

.select-enemy {
  color: #a7957b;
}

.middle-image {
  top: 20%;
  width: 200px;
}

.player-name-container {
  border-radius: 50%;
  width: 110px;
  height: 110px;
  top: 180px;
}

.p1-character-container {
  left: 10%;
  top: 150px;
}

.p2-character-container {
  right: 10%;
  top: 150px;
}

.p1-character {
  width: 155px;
  top: 60px;
  left: 1px;
}

.p2-character {
  width: 155px;
  top: 60px;
  right: -1px;
}

 

.p1-character-container > .player-name-container {
  border: 4px solid #7db95d;
  left: 180px;
}

.p2-character-container > .player-name-container {
  border: 4px solid #738BA6;
  right: 180px;
}

.p1-character-name {
  color: #7db95d;
  font-style: italic;
  font-size: 1.5rem;
}

.p2-character-name {
  color: #738BA6;
  font-style: italic;
  font-size: 1.5rem;
}
