.credits{
    height: 857px;
    width: 1424px;
    background-image: url("/menu/menu/credits.png");
    background-repeat: no-repeat;
    background-position: center;  
}

.bg-outer-credits{
    background-image: url("/menu/menu/bg-outer.png");
    background-repeat: no-repeat;
    background-position: none;
    height: 857px;
    width: 1424px;
}

.p-text{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem
}

.h-text{
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

