.credits{
    width: 1422px;
    height: 850px;
    background-image: url("/menu/menu/credits.png");
    background-repeat: no-repeat;
    background-position: center;  
}

.bg-outer-credits{
    background-image: url("/menu/menu/bg-outer.png");
    background-repeat: no-repeat;
    background-position: none;
    width: 1422px;
    height: 831px;
}
