.contact{
    width: 1422px;
    height: 850px;
    background-image: url("/menu/menu/contact.png");
    background-repeat: no-repeat;
    background-position: center;  
}

.bg-outer-contact{
    background-image: url("/menu/menu/bg-outer.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 1422px;
    height: 831px;
}
