
.bg-outer-settings{
    background-image: url("/menu/menu/bg-outer.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 1422px;
    height: 831px;
}

.settings{
    width: 1422px;
    height: 850px;
    background-image: url("/menu/menu/settings.png");
    background-repeat: no-repeat;
    background-position: center;  
}